<h1>Anoszko and Appel Recipes</h1>
<p>A place to keep our recipes and shopping lists</p>
<a href="https://github.com/srappel/cookbook">Repo</a>

<h2>Recipes</h2>
<ul>
    <% @recipes.each do |recipe| %>
        <li>
            <%= link_to recipe.title, recipe %>
        </li>
    <% end %>
</ul>
